.speedDial {
  position: fixed;
  right: 3vmax;
  top: 3vmax;
  
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
  margin: auto;
}

 
.menuhamb {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  box-sizing: border-box;
  font-size: 26px;
  position: fixed;
  z-index: 10000;
  
}

.hamuadjust{
   text-decoration: none;

   cursor: pointer;
   color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   margin-top: 2vh;

}

.menuhamb-item,
.menuhamb-open-button {
   background: rgba(255,255,255, 0.15);
   border-radius: 100%;
   width: 50px;
   height: 50px;
   margin-left: -45vw;
   margin-top: -37vh;
   position: absolute;
   color: #FFFFFF;
   text-align: center;
   line-height: 80px;
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
   -webkit-transition: -webkit-transform ease-out 200ms;
   transition: -webkit-transform ease-out 200ms;
   transition: transform ease-out 200ms;
   transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
 
}

.menuhamb-open {
   display: none;
}

.lineshum {
   width: 25px;
   height: 3px;
   background: #596778;
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -12.5px;
   margin-top: -1.5px;
   -webkit-transition: -webkit-transform 200ms;
   transition: -webkit-transform 200ms;
   transition: transform 200ms;
   transition: transform 200ms, -webkit-transform 200ms;
}

.line-1 {
   -webkit-transform: translate3d(0, -8px, 0);
   transform: translate3d(0, -8px, 0);
}

.line-2 {
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
}

.line-3 {
   -webkit-transform: translate3d(0, 8px, 0);
   transform: translate3d(0, 8px, 0);
}

.menuhamb-open:checked + .menuhamb-open-button .line-1 {
   -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
   transform: translate3d(0, 0, 0) rotate(45deg);
}

.menuhamb-open:checked + .menuhamb-open-button .line-2 {
   -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
   transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menuhamb-open:checked + .menuhamb-open-button .line-3 {
   -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
   transform: translate3d(0, 0, 0) rotate(-45deg);
}


.menuhamb-item:hover {
   background: #EEEEEE;
   color: #3290B1;
}

.menuhamb-item:nth-child(3) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;

}

.menuhamb-item:nth-child(4) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

.menuhamb-item:nth-child(5) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

.menuhamb-item:nth-child(6) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

.menuhamb-item:nth-child(7) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

.menuhamb-item:nth-child(8) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

.menuhamb-item:nth-child(9) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

.menuhamb-open-button {
   z-index: 2;

   cursor: pointer;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);

}





.menuhamb-open:checked ~ .menuhamb-item:nth-child(3) {
   transition-duration: 180ms;
   -webkit-transition-duration: 180ms;

   transform: translate3d(-45.08361px, -40.99997px, 0);
}

.menuhamb-open:checked ~ .menuhamb-item:nth-child(4) {
   transition-duration: 280ms;
   -webkit-transition-duration: 280ms;

   transform: translate3d(30.9466px, -55.47586px, 0);
}

.menuhamb-open:checked ~ .menuhamb-item:nth-child(5) {
   transition-duration: 380ms;
   -webkit-transition-duration: 380ms;

   transform: translate3d(60.9466px, 8.47586px, 0);
}

.menuhamb-open:checked ~ .menuhamb-item:nth-child(6) {
   transition-duration: 480ms;
   -webkit-transition-duration: 480ms;

   transform: translate3d(10.08361px, 60.99997px, 0);
}

.menuhamb-open:checked ~ .menuhamb-item:nth-child(7) {
   transition-duration: 580ms;
   -webkit-transition-duration: 580ms;

   transform: translate3d(-55.86291px, 32.62064px, 0);
}

.lightblue {
   background: rgba(255,255,255, 0.15);
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.credit {
   color: #EEEEEE;
}

.credit a {
   /* padding: 8px 0; */
   color: #C49CDE;
   text-decoration: none;
   transition: all 0.3s ease 0s;

}

.credit a:hover {
   text-decoration: underline;
}